@import url('https://fonts.googleapis.com/css2?family=Sansita&family=Sintony&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Sintony', sans-serif;
}

body{
  margin: 0;
  padding: 0;
  background: url(/images/Web\ Dev\ official\ background.jpg) ;
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* web dev text */
#body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:transparent;
}
/* web dev text end */

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:whitesmoke;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}

.logo-name{
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: capitalize;
  margin: .5rem 1rem;
  font-family: 'Sansita', sans-serif;
}

.nav-links ul{
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li{
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  padding: 1.5rem 1rem;
  display: block;
  font-size: 1.5rem;
  position: relative;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: space-around;
}

.nav-links li a.active{
  color:goldenrod;
}

 a::after{
  content: "";
  position: absolute;
  background-color: goldenrod;
  height: 3px;
  width: 70%;
  left: 17px;
  bottom: 20px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s;
}

a:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}

#Join_us{
  border: 2px solid goldenrod;
  padding: 1.5rem 1rem;
  display: block;
  font-size: 1.5rem;
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 3px;
}
#Join_us:hover{
  background: goldenrod;
  color: white;
}



.fa-bars{
  font-size: 1.6rem;
  cursor: pointer;
}

#menu-btn{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

#btn{
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-65%, -50%);
  background: transparent;
  color: white;
  font-size: 1.5rem;
  border: 2px solid white;
  padding: .8rem 2rem;
  margin-top: 1rem;
}

#btn:hover{
  background: #8A7D00;
  color: white;

}
/* home header section ends */

/* home content section start */

 h1 {
    font-family: 'Sansita';
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    color: white;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -10%);
}
/*
.type {
    position: relative;
    top: -8rem;
    color: white;
    -webkit-text-stroke: orange;
    margin-left: 50%;
    transform: translate(-50%);
    
}

.type::before{
  opacity: 0.1;
  color: transparent;
  
}

.type::after {
    content: '!';
    position: absolute;
    right: 0;
    color: white;
    background: gray;
    width: 105%;
    margin-right: -10px;
    animation: animate 5s steps(28) linear infinite;
}
@keyframes animate {
    to {
        width: 0%;
    }
}

@keyframes line {
    50% {
        color: transparent;
    }
} 
/* home content section ends */

/* header media */
@media (max-width: 500px){
  #menu-btn{
    display: flex;
  }

  .nav-links {
    display: none;
    width: 100%;
  }

  .navbar{
    flex-direction: column;
    align-items: flex-start;

  }
  .nav-links ul{
    flex-direction: column;
  }

  .nav-links li{
    text-align: center;
  }

  .nav-links li a{
    padding: .3rem 1rem;
  }

  .nav-links.active{
    display: block;
    z-index: 1000;
  }

  body{
    background: url(/images/Web\ Dev\ official\ background.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }

   a::after{
  content: "";
  position: absolute;
  background-color: goldenrod;
  height: 3px;
  width: 0;
  left: 200px;
  bottom: 3px;
  transition: .5s ease-in-out;
}

a:hover::after{
  width: 20%;
}

h1{
   display: flex;
   font-size: 1.6rem;
   position: absolute;
   top: -150px;
   z-index: 1;
}

#btn{
  position: absolute;
  top: 250px;
  left: 265px;
  color: white;
}

#btn:hover{
  background: #8A7D00;
  color: white;
}
}

/* header media end*/