@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Lobster&family=Orbitron&family=Prompt&family=Racing+Sans+One&family=Sansita&family=Sintony&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: 'Sintony', sans-serif;
  text-decoration: none;
}

body{
  background: url(/images/IMG_8077.JPG);
  background-size: cover;
  background-repeat: no-repeat;
}

header{
  background: white;
  width: 100%;
  height: 4.6rem;
}

.logo{
  color: black;
  text-decoration: none;
  font-family: 'Sansita', sans-serif;
  font-size: 36px;
  margin-left: 1.5rem;
  margin-top: 1.8rem;
  line-height: 4.6rem;
  
}

.navbar{
  float: right;
  margin-top: .7rem;
  margin-right: 1.8rem;
  font-weight: 500;
  
}

.navbar ul li{
  display: inline-block;
  margin: .4rem 1.5rem;
}

.navbar ul li a{
  text-decoration:  none;
  color: black;
  font-size: 24px;
}

.navbar ul li a.active{
  text-decoration: underline #8A7D00 ;
}




.link{
  border: 2px solid #8A7D00;
  padding: .2rem .3rem;
}

.link:hover{
  background-color : #8A7D00;
  color: white;
}


.content{
  position: absolute;
  top: 60%;
  left: 55%;
  transform: translate(-60% , -55%);
  text-align: center;
  color: white;
}

.content h1{
  font-size: 6.5rem;
  font-family: 'Sansita', sans-serif;
  color: #8A7D00;
}

.content #btn{
  padding: 2rem 7rem;
  background: transparent;
  border: 2px solid #8A7D00;
  color: white;
  font-size: 2rem;
  margin-top: 2.5rem;
}

.content #btn:hover{
  background-color: #8A7D00;
}